.qt-account {
  width: 1440px;
  height: 720px;
  top: 7413px;

  left: -3500px;
  background-color: red;
}
.qt-account img {
  width: 820px;
  height: 1124px;
  margin-top: -100px;
  margin-left: -43px;
}
.qt-btn {
  width: 40px;
  height: 40px;
  top: 40px;
  left: 64px;
  padding: 10px;
  border-radius: 50px;
  position: fixed;
}
.qt-btn img {
  width: 20px;
  height: 20px;
  top: 10px;
  left: 30px;
  border: 2px;
  position: relative;
}
.qt-account .logo {
  width: 147px;
  height: 75px;
  margin-top: 40px;
  left: 889px;
  position: fixed;
}

.para {
  width: 303px;
  height: 19px;
  top: 135px;
  left: 889px;
  position: fixed;
}
.para p {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  color: white;
  text-align: left;
  position: relative;
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
.para span {
  color: black;
  font: 14 medium;
}
.create-act {
  width: 437px;
  height: 65px;
  top: 164px;
  left: 889px;
  position: fixed;
}
.create-act p {
  font-family: "Open Sans";
  position: relative;
  font-size: 48px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}
.qt-line .orline {
  width: 449px;
  height: 32px;
  top: 405px;
  margin-left: 889px;
  border-radius: 50px;
  position: fixed;
  margin-top: 20px;
}

.MuiFormControl-root {
  padding-top: 9px;
  color: black;
  padding-bottom: 31px;
}

.signin button {
  width: 449px;
  height: 56px;
  top: 477px;
  left: 889px;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
}
.signin button:hover {
  background-color: rgba(255, 255, 255, 1);
}
.signin img {
  width: 24px;
  height: 24px;
  margin-top: 16px;
  padding-bottom: 16px;
  padding-left: 116px;
}
.signin-txt {
  left: 150px;
}

.signin p {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  padding-top: 14px;
  padding-bottom: 15px;
  line-height: 27px;
  margin-left: 10px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 1);
}
.signin p:hover {
  color: red;
  cursor: default;
}
